@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
    
  }
  
  header{
    padding: var(--spacing);
background: #fff;
height: 15vh;
/* box-shadow: 0 0.5em 0.5em rgba(0,0,0,.1); */
  }

a{
    color:#111;
    text-decoration: none;
  }

i{
  display: block;
}

ul{
  list-style: none;
}


/* Util classes */

.icon_p{
  display: inline;
}
.text-center{
  text-align: center;
  padding-bottom: 8px;
}



.title{
  font-size: 2.5rem;
   color:#000;
   margin-top: 1em;
   margin-bottom: 0.5rem;
   text-transform: uppercase;
   text-align: center;
}
  .side{
    /* background-image: url('img/contact/location.jpg'); */
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    
    box-shadow: 0 6rem 1rem rgba(0,0,0,.1);
  }
/* Section Heading */

.section-container{
  position: relative;
  /* background: #ffffff; */
  height: 65vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 2em 1em 2em 5em;
  padding: 1rem 1em 0em 1em;
  /* border: 1px solid rgba(0, 0, 0, 0.273); */
  box-shadow: 0 2rem 5rem rgba(0,0,0,.1);
  
}


.section-heading{
  text-align: center;
  color: white;
  padding: 1em;
  font-size: 2.5em;
  line-height: 3rem;
}

.contact-container{
  padding: 2em;
  max-width: 100%;
  width: 100%;
  height: 75%;
  background-color: #fff;
  color:#111;
  border-radius: 0.2em;
  /* margin-bottom: 2em; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.location-container h4{
  color: #ffffff;
}

.location-container .media-contact p{
  display: inline;
}
.text-contact{
  grid-column:1 / span 2;
}

.media-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 1rem 0rem;
}


.timing-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-contact{
  margin-bottom: 1rem;
}

.phone-contact{
  margin-bottom: 2rem;
}

.hours-contact{
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.hours-contact ul li{
  margin-top: 1rem;
}

.location-display{  
  color: #ffffff;
}
.loc-head{
  color: #ffffff;
}


/* Card View */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 25rem;
  height: 65vh;
  margin-top: 2em;
  /* align-items: center;
  justify-content: center; */
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  /* border: 1px solid var(--orange); */
  /* border: 1px solid rgba(0, 0, 0, 0.273); */
  border-radius: 0.25rem;
  box-shadow: 0 6rem 1rem rgba(0,0,0,.1);
  border-left: #ffffff;
  
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}
.card-text{
  color: #000;
  font-size: 70%;
  line-height: normal;
  padding: 1em 0em;

}
.card-body {
  flex: 1 1 auto;
  align-items: center;
  text-align: center;
  background-color: #fff;
  margin: 14rem 2em 3em 2em;
  padding: 1em 0em;
  /* border: 0.1px  #000; */
  box-shadow: 0 1rem 1rem rgba(0,0,0,.1);

}
.card-title {
  margin-bottom: 0.2rem;
  color: rgb(0, 0, 0);
}

.card-text:last-child {
  margin-bottom: 0;
}



.btn-primary {
  color: #fff;
  background-color: #000;
  /* background-color: rgb(0, 115, 255); */
  padding: 3%;
  border-radius: 10%;
  /* margin: 5em 0em; */
  /* border-color: #0d6efd; */
}
.btn-primary:hover {
  color: black;
  background-color: var(--orange);
  border: 2px solid #feb57b;
}


/* Responsive */

@media screen and (max-width: 600px) {
  .side{
    flex-direction: column;
  }
  i{
    margin-right: 1rem;
  }

  .section-container{
    height: 100%;
    margin: 1em 1em 1em 1em;
    border: 1px solid rgba(0, 0, 0, 0.273);
  }
  .card{
    max-width: 90%;
    height: 100%;
    margin: 1em 1em 1em 1em;
    border: 1px solid rgba(0, 0, 0, 0.273);
  }
  .location-display{
    height: 100%;
  }
  .contact-container{
    max-width: 100%;
    width: 90%;
    height: 100%;
  }
  .media-contact{
    grid-column: 1/span 2;
  }
  .timing-contact{
    grid-column: 1/span 2;
  }
}
/* Galaxy Flod */
@media screen and (max-height: 512px) {
  
  i{
    margin-right: 1rem;
  }

  .section-container{
    height: 100%;
    margin: 1em 1em 1em 1em;
    border: 1em bold #000;
  }
  
  .contact-container{
    max-width: 100%;
    width: 90%;
    height: 100%;
  }
  .media-contact{
    grid-column: 1/span 2;
  }
  .timing-contact{
    grid-column: 1/span 2;
  }
}
